<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>您配偶的生日是？</string>
		<integer>0</integer>
	</array>
	<array>
		<string>您的学号或工号?</string>
		<integer>1</integer>
	</array>
	<array>
		<string>您母亲的生日是？</string>
		<integer>2</integer>
	</array>
	<array>
		<string>您目前的姓名是？</string>
		<integer>3</integer>
	</array>
	<array>
		<string>您高中班主任的名字是？</string>
		<integer>4</integer>
	</array>
	<array>
		<string>您父亲的姓名是？</string>
		<integer>5</integer>
	</array>
	<array>
		<string>您小学班主任的姓名是？</string>
		<integer>6</integer>
	</array>
	<array>
		<string>您父亲的生日是？</string>
		<integer>7</integer>
	</array>
	<array>
		<string>您初中班主任的名字是？</string>
		<integer>8</integer>
	</array>
	<array>
		<string>您最熟悉的童年好友名字是？</string>
		<integer>9</integer>
	</array>
	<array>
		<string>您最熟悉的学校宿舍舍友名字是？</string>
		<integer>10</integer>
	</array>
	<array>
		<string>对您影响最大的人名字是？</string>
		<integer>11</integer>
	</array>
</array>
</plist>
