<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>常驻省份</string>
	<string>已故同性别祖辈的最长寿命</string>
	<string>25岁起独居年数</string>
	<string>兴趣爱好</string>
	<string>心跳速率</string>
	<string>每星期进行户外运动次数</string>
	<string>劳动类型</string>
	<string>性格</string>
	<string>心情</string>
	<string>驾乘是否系安全带</string>
	<string>致命疾病</string>
	<string>噪音污染指数</string>
	<string>辐射源距离</string>
	<string>化工厂距离</string>
	<string>饮食习惯</string>
	<string>每日运动量合理指数</string>
	<string>作息习惯</string>
	<string>每晚睡眠时间</string>
	<string>性生活（已婚）</string>
	<string>身高</string>
	<string>体重</string>
	<string>家庭美满指数</string>
	<string>抽烟量</string>
	<string>饮酒量</string>
	<string>是否吸毒</string>
	<string>麻将游戏时间</string>
	<string>职业</string>
</array>
</plist>
