<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>北京.通州</string>
	</array>
	<array>
		<string>≥100</string>
		<string>80-90</string>
		<string>70-80</string>
		<string>60-70</string>
		<string>≤60</string>
	</array>
	<array>
		<string>5≥</string>
		<string>10-20</string>
		<string>20-30</string>
		<string>30-40</string>
		<string>50≤</string>
	</array>
	<array>
		<string>体育运动，旅游</string>
		<string>一个吃货，睡懒觉</string>
		<string>桌游，电脑游戏</string>
	</array>
	<array>
		<string>正常</string>
		<string>偏高</string>
		<string>偏低</string>
	</array>
	<array>
		<string>&lt;2</string>
		<string>2-4</string>
		<string>&gt;4</string>
	</array>
	<array>
		<string>轻松工作</string>
		<string>偶尔加班</string>
		<string>经常加班</string>
	</array>
	<array>
		<string>A型：心如止水，豁达开朗 </string>
		<string>B型：无精打采 黯然魂销</string>
		<string>C型：急躁易怒，节奏快，压力山大</string>
	</array>
	<array>
		<string>A型：感觉自己萌萌哒</string>
		<string>B型：嗨~起来~动次打次~</string>
		<string>C型：又加班- -。</string>
		<string>D型：带上耳机与世隔绝</string>
		<string>E型：感觉这个世界没爱了</string>
	</array>
	<array>
		<string>安全第一</string>
		<string>车在人在车亡人亡~不系</string>
	</array>
	<array>
		<string>无</string>
		<string>刚发现 </string>
		<string>中期</string>
		<string>晚期</string>
	</array>
	<array>
		<string>闻针落地</string>
		<string>还能接受</string>
		<string>城市中心</string>
	</array>
	<array>
		<string>没有</string>
		<string>600m~100m</string>
		<string>300m~600m</string>
		<string>100m~300m</string>
	</array>
	<array>
		<string>没有</string>
		<string>600m~100m </string>
		<string>300m~600m</string>
		<string>100m~300m</string>
	</array>
	<array>
		<string>三餐规律，荤素搭配不挑食</string>
		<string>三餐都吃，时间浮动大</string>
		<string>有时候吃了，有时候没吃</string>
	</array>
	<array>
		<string>一小时左右</string>
		<string>半小时左右</string>
		<string>没有运动</string>
	</array>
	<array>
		<string>晚上21点睡觉，早上自然醒</string>
		<string>晚上10-11睡</string>
		<string>晚上11点过后</string>
		<string>晚上12点过后</string>
	</array>
	<array>
		<string>8小时左右</string>
		<string>9小时左右或7小时左右</string>
		<string>一天基本都在睡，或&lt;6小时</string>
	</array>
	<array>
		<string>适度</string>
		<string>荒淫无度</string>
		<string>单身狗~飘过</string>
	</array>
	<array>
		<string>150-160米</string>
		<string>160-170米</string>
		<string>170-180米</string>
		<string>180-190米</string>
	</array>
	<array>
		<string>90-100斤</string>
		<string>100-110斤</string>
		<string>110-120斤</string>
		<string>120-130斤</string>
	</array>
	<array>
		<string>太平盛世</string>
		<string>偶尔有点不愉快</string>
		<string>战争之地</string>
	</array>
	<array>
		<string>无抽烟习惯</string>
		<string>1包抽3天</string>
		<string>1天半包以上</string>
		<string>1天1包以上</string>
	</array>
	<array>
		<string>偶尔饮酒（适量）</string>
		<string>经常饮酒（适量）</string>
		<string>每餐都需（适量）</string>
		<string>不醉不痛快</string>
	</array>
	<array>
		<string>否</string>
		<string>是</string>
	</array>
	<array>
		<string>每天1小时</string>
		<string>每天2小时</string>
		<string>每天3小时以上</string>
	</array>
	<array>
		<string>机长空姐</string>
		<string>外出跑业务</string>
		<string>白领上班族</string>
		<string>环保人员</string>
		<string>工地</string>
		<string>化学放射物等有害身体健康工厂</string>
	</array>
</array>
</plist>
